body{
    background-image: url(https://img.freepik.com/premium-vector/white-glowing-moon-stars-neon-effect-purple-ceramic-tiles-wall-horizontal-banner-design_511660-12.jpg?w=826) ;
    text-align: center;
    
}

.titulo{

    font-family: Impact;
    font-size: 165px;
    color: rgb(218, 72, 210);
    margin-bottom:0;
}

.datos{

    background-color: azure;
    height: 100px;
    width: 500px;
    border-top: 3px solid rgb(247, 107, 247);
    border-right: 3px solid rgb(247, 107, 247);
    border-left: 3px solid rgb(247, 107, 247);
    border-bottom: 3px solid rgb(247, 107, 247);
    background-color: rgb(255, 190, 244);
    margin-top: 0;
        margin-left: 400px;

        padding: 35px;
}

.boton-enviar{

    height: 50px;
    width: 150px;
    border-radius: 10px;
    border-top: 3px solid rgb(128, 0, 128);
    border-right: 3px solid purple;
    border-left: 3px solid purple;
    border-bottom: 3px solid purple;
    background-color: rgb(231, 212, 238);


}

.LETRA{

    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.NOMBRES{

    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.botones{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border-top: 3px solid rgb(128, 0, 128);
    border-right: 3px solid purple;
    border-left: 3px solid purple;
    border-bottom: 3px solid purple;
    background-color: rgb(243, 221, 250);

}
